<html>
<head><title>cars spa</title>
</head><body>

<!DOCTYPE html>
<html><head><title>cars too</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
 <script src="https://unpkg.com/vue@next"></script>
<style>

</style>
</head>
<body>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Our Website</a>
    </div>
    <div>
       <ul class="nav navbar-nav">
           <li class="active"><a id="menu1" href="/">Home</a></li>
           <li><a id="menu3" href="edit.html">Edit Car Data</a></li>
       </ul>
    </div>
</div>
</nav>    <!-- end nav-bar -->

<div class="container">
<h3>Cars 4 Sale</h3>

	<div id = "editApp">     <!-- vue.js mounting location  -->

		<h4>Edit Car ID {{car.cid}} of {{maxIndex}}</h4>
            
            <div class="form-group">
                <label for="cid">CID:</label>
                <input type="text" class="form-control" id="cid" v-model="car.cid" readonly>
           </div>
			<div class="form-group">
                <label for="year">Year:</label>
                <input type="text" class="form-control" id="year" v-model="car.year" readonly>
           </div>
           <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" class="form-control" id="make" v-model="car.make" readonly>
           </div>
           <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model" v-model="car.model" readonly>
           </div>
           <div class="form-group">
                <label for="miles">Miles:</label>
                <input type="text" class="form-control" id="miles" v-model="car.miles">
           </div>
           <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" id="price" v-model="car.price">
           </div>
           <div class="form-group">
                <label for="dealer_id">Seller ID:</label>
                <input type="text" class="form-control" id="seller_id" v-model="car.seller_id" readonly>
           </div>
		   
           <button type="button" class="btn btn-primary" v-on:click="previousRecord()"> < previous </button> &nbsp; 
           <button type="button" class="btn btn-primary" v-on:click="nextRecord()"> next ></button> &nbsp; 
           <button type="button" class="btn btn-primary" v-on:click="updateRecord()">Update</button> &nbsp; 
           <button type="button" class="btn btn-primary" v-on:click="deleteRecord()">Delete</button>
        <br><br>

       <p v-if='status'>{{status}} <!-- place to print status or request --> </p>
		<br><br>
   </div>   <!-- end carsApp -->

</div>   <!-- end class= 'container' -->

<script>

   let app = Vue.createApp({
      data() {     // returns an object of data
         return {
            allCars: [], 
			   car: '', 
            index: '',
			   maxIndex: '',
			   status1: ''
         }
      },
      created() {
         this.getAllCars()   // call getAllCars
      },
      methods: {    
         previousRecord() {
			   this.index--
			   if(this.index <= 0) {this.index = 0}
			   this.car = this.allCars[this.index]
         },
         nextRecord() {
			   this.index++
			   if(this.index >= this.allCars.length) {this.index = allCars.length -1}
			   this.car = this.allCars[this.index]
         },
         async updateRecord() {
            c = this.car.cid   // get cid and editable data
			   m = this.car. miles
			   p = this.car.price
            console.log(c, m, p)

			   const response = await fetch('/updateCar', 
               {
                  method: 'POST',
                  headers: {
                     'Accept': 'application/json',
                     'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({cid: c, miles: m, price: p})
               });
            this.status1 = await response.text();
            console.log(this.status)
         },
         deleteRecord() {
            // not yet implemented
         },

         async getAllCars() {         // ajax request
			   url = '/getCars?filter=all'   // route in index.js
            const response = await fetch(url)
            this.allCars = await response.json()
			   this.car = this.allCars[0]		// get first car cid=1
			   this.maxIndex = this.allCars.length
		   },
      }
   })
         
   app.mount('#editApp')   //in which div to mount the vue app
   
   </script>

<!-- <script src='/js/app.js'></script> -->  <!-- our app.js code  -->

</body></html>
